<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>verify</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>文章id</td>
                <td>标题</td>
                <td>作者</td>
                <td>分类</td>
                <td>发表时间</td>
                <td>最后更新时间</td>
                <td>审核</td>

            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.author}}</td>
            <td>{{article.categoryid}}</td>
            <td>{{article.publishTime}}</td>
            <td>{{article.updateTime}}</td>
            <td>
                <button data-articleid="{{ article.id }}" onclick="passArticle(this)">通过</button>
                <button data-articleid="{{ article.id }}" onclick="unpassArticle(this)">不通过</button>

            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/simditor-all.min.js"></script>
<script src="/static/js/myGlobal.js"></script>
</html>