<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>
    <!--<form action="{{url_for('changePassword')}}" method="post">-->
        原密码:<input type="password" name="oldpassword" id="oldpassword">
        新密码:<input type="password" name="newpassword" id="newpassword">
        确认新密码:<input type="password" name="repassword" id="repassword">
        <button data-state = "{{session['state']}}" data-username="{{session['username']}}" type="submit" onclick="changePassword(this)">submit</button>
        <!--<input type="submit">-->
    <!--</form>-->

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/simditor-all.min.js"></script>
<script src="/static/js/myGlobal.js"></script>
</html>