<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form action="{{url_for('login')}}" method="post">
        username:<input type="test" name="username" id="username">
        password:<input type="password" name="password" id="password">
        <!--<button type="submit" onclick="login()"></button>-->
        <input type="submit">
    </form>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/simditor-all.min.js"></script>
<script src="/static/js/myGlobal.js"></script>
</html>