<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="static/css/sonsstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="elements">
    hello!
    </div>
    <div class="elements">
    文章标题 <input class="search_query" type="text" placeholder="标题" maxlength="80" id="title" name="title">
    </div>
    <div class="elements">

    </div>
    <div class="elements">
    	文章内容：
        <input class="write" type="text" placeholder="文章内容" name="article" id="article">
    </div>

            <button type="submit" onclick="addArticle()">提交</button>
    
</body>
</html>
