<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="/static/css/sonsstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="elements">
    原密码
    <input class="search_query" type="password" id="oldpassword" maxlength="80">
    </div>
    <div class="elements">
    新密码
    <input class="search_query" type="password" id="newpassword" maxlength="80">
    </div>
    <div class="elements">
    请确认
    <input class="search_query" type="password" id="repassword" maxlength="80">
    </div>
    <!--<div class="change">-->
    	<!--<button data-state = "{{session['state']}}" data-username="{{session['username']}}" type="submit" onclick="changePassword(this)">submit</button>-->
    <!--</div>-->
    <div class="change">
    	<a href="#" data-state = "{{session['state']}}" data-username="{{session['username']}}"  onclick="changePassword(this)">
        	确认
        </a>
    </div>



</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/simditor-all.min.js"></script>
<script src="/static/js/myGlobal.js"></script>
</html>
