<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>使用须知</title>
</head>

<body>
	<h1>
    	使用须知
    </h1>
    <hr />
    <p>
    	1.你好，您现在是特权用户，您拥有的特权如下：
        <ul>
        	<li>
            普通用户的所有特权
            </li>
            <li>
            审核注册用户
            </li>
            <li>
            调节其他用户特权
            </li>
            <li>
            审核发布文章
            </li>
            <li>
            权力越大，责任越大，希望你能认真使用你的能力
            </li>
        </ul>
    </p>
    <p>
    	2.系统中的贡献值是按照文章发布的数量计算的，我们稍后会结合文章的点击量等改进贡献值的计算方法。
    </p>
    <p>
    	3.该博客是青川技术中心的技术分享平台，希望大家分享知识，共同进步。
    </p>
</body>
</html>
