<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="main_button">
    	使用
    </div>
    	<div class="son_button">
    		<!--<a target="right" href="/user/shouldKnow">-->
    		<a target="view_frame" href="/user/shouldKnow">

            使用须知
            </a>
   	 	</div>
    <div class="main_button">
    	个人
    </div>
    	<div class="son_button">
        	<a target="_parent" href="/logout">
        	<!--<a target="view_frame" href="/logout">-->

    		退出登录
            </a>
    	</div>
     	<div class="son_button">
        	<!--<a target="right" href="/user/changePassword">-->
        	<a target="view_frame" href="/user/changePassword">

     		修改密码
            </a>
    	</div>
     	<div class="son_button">
     	个人资料
    	</div>
     	<div class="son_button">
     	贡献情况
    	</div>
    <div class="main_button">
    个人文章管理
    </div>
    	<div class="son_button">
        	<!--<a target="right" href="/article/add">-->
        	<a target="view_frame" href="/article/add">

        	写文章
            </a>
        </div>
        <div class="son_button">
        <!--<a target="right" href="/article/list">-->
        <a target="view_frame" href="/article/list">

        个人文章列表
        </a>
        </div>
   	<div class="main_button">
    站点信息
    </div>
    	<div class="son_button">
       	访问统计
        </div>
        <div class="son_button">
        服务器状态
        </div>
    <div class="main_button">
    	用户管理
    </div>
    	<div class="son_button">
        	<!--<a target="right" href="/admin/user/add">-->
        	<a target="view_frame" href="/admin/user/add">

        	添加用户
            </a>
        </div>
        <div class="son_button">
        	<!--<a target="right" href="/admin/user/list">-->
        	<a target="view_frame" href="/admin/user/list">

        	用户列表
            </a>
        </div>
  	<div class="main_button">
    	站点文章管理
    </div>
    	<div class="son_button">
        	<!--<a target="right" href="/admin/article/verify">-->
        	<a target="view_frame" href="/admin/article/verify">

        	待审核
            </a>
        </div>
        <div class="son_button">
        	<!--<a target="right" href="/admin/article/verified">-->
        	<a target="view_frame" href="/admin/article/verified">

        	已审核
            </a>
        </div>
        <div class="son_button">
        	<!--<a target="right" href="/admin/article/list">-->
        	<a target="view_frame" href="/admin/article/list">

        	所有文章
            </a>
        </div>
</body>
</html>
