{% extends "index/base.html" %}













            {% block nav %}
            <div class="position">
			当前位置：<a href="/">首页</a>
		    </div>
            {% endblock %}


			<!-- 每页20条 -->
            {% block content %}
        <div class="fl ov-h">
			<ul class="arclist">
                {% for article in articles %}

				<li><a href="/article/{{article.id}}">{{article.title}}</a><span class="fr">{{article.publishTime | timeformat('%Y-%m-%d %H:%M')}}</span></li>
			    {% endfor %}
            </ul>

			<hr>


			<div class="list-page">
				<ul>
                    <li><a href="/page/1">首页</a></li>
                    {% for num in enum %}
                    {% if num+1==currentPage %}
					<li><a class="active" href="#">{{currentPage}}</a></li>
                    {% else %}
					<li><a href="/page/{{num+1}}">{{num+1}}</a></li>
					{% endif %}
                    {% endfor %}
                    <li><a href="/page/{{totalPages+1}}">末页</a></li>
				</ul>
			</div>



          </div>
            {% endblock %}
